/* Tippy.js styles for tooltips/popups */
@import 'tippy.js/dist/tippy.css';

body {
  height: calc(100vh - 4px);
  width: calc(100vw - 4px);
  border: 2px solid green;
  margin: 0px;
}

.full {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border: 2px solid red;
}
